/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background-image: url("../images/background-compressed.jpg");
	padding-top: 40px;
}

@media screen and (max-width: 768px) {
	body {
		padding-top: 0px;
	}
	.navbar-collapse{
		background-color: #000000;
	}
}

.content {
	color: ghostwhite;
}



.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
}

.h1 {
	color: ghostwhite;
}

.row {
	margin-top: 20px;
}

.row2 {
	margin-top: 35px;
	color: ghostwhite;
}

#bottom-left-content {
	background-color: #000000;
}

#music-button {
	height: 100px;
	width: 500px;
	background-color: lightsteelblue;
	font-size: 40px;
	text-align: center;
	line-height: 80px;
	color: #000000;

}


.nav.navbar-nav {
	margin-left: 100px;
}


#music{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 40px;
	margin-left: 200px;
	margin-right: 200px;
	color: ghostwhite;
}

#home{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 40px;
	margin-left: 200px;
	margin-right: 200px;
	color: ghostwhite;
}

#contact{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 40px;
	margin-left: 200px;
	margin-right: 200px;
	color: ghostwhite;
}

@media screen and (max-width: 768px){
	#home, #music, #contact {
		margin: 0;
	}
}

.navbar{
	height: 70px;
	border-radius: 0px;
}

.navbar-inverse {
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	border-top-color: #373737;
}

.navbar-brand>img{
	margin-top:1px;
}

#music-nav {
	color: ghostwhite;
	font-size: 20px;
	background-color: #373737;
}

.tab-pane {
	color: ghostwhite;
}

.container .text-muted {
	margin: 20px 0;
	color: darkgrey;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

/*Carousel Section*/

/*this will adjust the images to be consistent*/
.carousel-inner > .item > img{
	width:950px;
	height:500px;
}
/*sets desktop size*/
@media (min-width: 1024px) {
	#carousel-example-generic {
		width: 950px;
		height: 500px;
		margin: 0 auto;
	}
}
/*mobile*/
@media (max-width: 767px) {
	#carousel-example-generic {
		height: auto;
		margin-top: 50px;
	}
	.carousel-inner > .item > img {
		height: auto;
	}
	#music-button {
		height: 50px;
		width: 300px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 20px;
		text-align: center;
		line-height: 30px;
	}
}

#soundcloud {
	color: #FF6700;
}

#twitter{
	color: #55ACEE;
}

#facebook {
	color: #46629E;
}

.fa.pull-right{
	margin-left: 30px;
}

#main-page{
	background-color: #000000;
	margin-top: 20px;
	padding-bottom: 40px;
	border-radius: 10px;

}

.form-wrap {
	background-color: #000000;
	padding: 20px;
	border-radius: 15px;

}

.control-label {
	font-family: "Roboto", sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 4px;
	text-align: left !important;
	color: white;
}

.music-page {
	background-color: #000000;
	color: ghostwhite;

}

.music-h1 {
	margin-top: 0;
	padding: 20px;
}